    ul{
        list-style-type: none;
        margin:0;
        padding: 0;
        overflow: hidden;
    }

    a:link,a:visited{
        display:block;
        color:#99ff33;
        background-color: #3333cc;
        width: 120px;
        text-align: center;
        padding: 4px;
        text-transform: uppercase;
        text-decoration:none;
    }

    a:hover,a:active{
        background-color: #ff1a1a;
    }

    li{
        float:left;
    }

    li ul {
        display: none;
    }

    li ul li {
        display: block;
        float: none;
        text-align: center;
    }

    ul li a:hover + .hidden, .hidden:hover {
    display: block;
    }